{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Heading}}</h1><br> <hr>
    <h2>{{.Students}}</h2><br>
    <h2>{{.Teacher}}</h2><br>
    <h3>{{.HW1}}</h3><br>
    <h3>{{.HW2}}</h3><br>
    <h3>{{.HW3}}</h3><br>
    {{end}}
    